<%= form_tag("usgs/search", method: "post", class: 'earthquake_sliders') do %>	
	<%= label_tag('magnitude_range','Magnitude') %>	
	<%= text_field_tag('magnitude_range') %>
	<%= label_tag('felt_range','Felt') %>	
	<%= text_field_tag('felt_range') %>
	<%= label_tag('dimension_range','Dimension') %>	
	<%= text_field_tag('dimension_range') %>
	<%= label_tag('cdi_range','Cdi') %>	
	<%= text_field_tag('cdi_range') %>
 	<button  class="submitButton" type="submit">Search</button>
<% end %>

<script>
   sliderLogic();
</script>