<%= form_tag("usgs/search", method: "post", class: 'earthquake_sliders') do %>
	<%= text_field_tag('person_name') %>
	<label for="magnitude_range">Magnitude</label>
	<%= text_field_tag('magnitude_range') %>
	<label for="felt_range">Felt</label>
	<%= text_field_tag('felt_range') %>
	<label for="dimension_range">Dimension</label>
	<%= text_field_tag('dimension_range') %>
	<label for="cdi_range">Cdi</label>
	<%= text_field_tag('cdi_range') %>
 	<button  class="submitButton" type="submit">Search</button>
<% end %>