<h2>I see post</h2>



----------------
<br>
Magnitude = <%=  @magnitude_range %>
<br>
Felt_range = <%=  @felt_range %>
<br>
Dimension_range = <%= @dimension_range %>
<br>
Cdi_range = <%= @cdi_range %>
<br>
Tsunami = <%= @tsunami %>